.errorText {
  text-align: center;
}
.view {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.endSection,
.endPair,
.namePair {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.buttonPair {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0 0 10px black;
}

.card {
  width: 100vw;
  height: 7rem;
  border: 1px solid white;
  border-radius: 0.3rem;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 500px;
}

.itemContainer {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 63vh;
  overflow-y: scroll;
}

.input {
  width: 80vw;
  margin-bottom: 1rem;
}

.comment {
  resize: none;
  width: 80vw;
  margin-bottom: 1rem;
}

.noItems {
  margin-bottom: 1rem;
  font-size: 2rem;
}
